.acme-regular {
  font-family: "Acme", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.audiowide-regular {
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.electrolize-regular {
  font-family: "Electrolize", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.about-me
{
    display: flex;;
}


.right
{
    border: 2px solid black;
    height: 100vh;
    width: 50%;
}
.left
{
    border: 2px solid black;
    height: 100vh;
    width: 50%;
    display:list-item;
    text-align:center;
}
.skills
{
    display: flex;;
}
.right2
{
    border: 2px solid black;
    height: 100vh;
    width: 50%;
}
.left2
{
    border: 2px solid black;
    height: 100vh;
    width: 50%;
}

body{
    color: white;
    background-color: black;
}

nav
{
    top: 0;
    position: sticky;
    display: flex;
justify-content:space-between;
    left: 0;
    width: 100%;
    align-items: center;
}
.name{
    margin-left: 10px;
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.menu ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
li{
    margin: 15px;
    border: 1px #4E514E solid;
    padding: 8px;
    border-radius: 30px;
    justify-content: center;
    text-decoration: none;
    box-shadow: 0 0 500px #D8CEC5, 0 0 10px #D8CEC5, 0 0 1px #D8CEC5, 0 0 10px #D8CEC5;
    background-color: #4E514E;
    transition: all 0.3s ease-in-out;
}
li:hover{
    box-shadow: 0 0 500px #D8CEC5, 0 0 10px #D8CEC5, 0 0 1px #D8CEC5, 0 0 50px #D8CEC5;
}
.menu a{
    text-decoration: none;
    font-family: "Acme", sans-serif;
    font-weight: 400;
    font-style: normal;
    color:white;
}
.left h1{
    margin-top: 21vh;
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
}