/*Font families that will be used*/
.acme-regular {
  font-family: "Acme", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.audiowide-regular {
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.electrolize-regular {
  font-family: "Electrolize", sans-serif;
  font-weight: 400;
  font-style: normal;
}






/*About me section styling*/
.about-me
{
    display: flex;
}
/*Right side of anout me section*/
.right
{
    border: 2px solid black;
    height: 80vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items:center;
    cursor:default;
}
.right img{
    width: 300px;
    height: auto;
    margin-top: 15vh;
    border-radius: 50%;
    box-shadow: 0 0 10px #86ABC5, 0 0 20px #86ABC5, 0 0 30px #86ABC5, 0 0 40px #86ABC5;
    transition: all 0.3s ease-in-out;
}
.right h1{
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
    animation: glow 5s ease-in-out infinite alternate;
}
.right img:hover{
    box-shadow: 0 0 30px #86ABC5, 0 0 40px #86ABC5, 0 0 50px #86ABC5, 0 0 60px #86ABC5;
}
/*About me left side styling*/
.left
{
    border: 2px solid black;
    height: 80vh;
    width: 50%;
    display:list-item;
    text-align:center;
    align-items: center;
    cursor: default;
}
.left h1{ 
    margin-top: 18vh;
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    animation: glow 1s ease-in-out infinite alternate;
}
.left p{
    font-family: "Electrolize", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    width: 600px;
    align-self: center;
    margin-left: 73px;
}





/*styling the skills sections of the code*/ 
.skills
{
    display: flex;
}
.right2
{
    border: 2px solid black;
    height: 80vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
    cursor:default
}
.firstcol{
    display: flex;
    justify-content:space-evenly;
}
.secondcol{
    display: flex;
    justify-content: space-evenly;
}
.thirdcol{
    display: flex;
    justify-content: space-evenly;
}

.stylebox{
    border: 2px solid #86ABC5;
    width: 250px;
    text-align: center;
    padding: 15px;
    border-radius: 50px;
    background-color: #86ABC5;
    color: black;
    opacity: 60%;
    cursor:default;
    animation: autoblur linear both;
    animation-timeline: view(50% auto);
    transition: all 0.3s ease-in-out;
}
.stylebox:hover{
    opacity: 90%;
    transition: all 0.3s ease-in-out; 
}
.stylebox:hover{
    box-shadow: 0 0 30px #4E514E, 0 0 40px #4E514E, 0 0 50px #4E514E, 0 0 60px #4E514E;
    transition: 0.5s ease-in-out;
}

.left2      /*left side of skills section*/
{
    border: 2px solid black;
    height: 80vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    cursor:default;
}
.left2 h1{
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    animation: glow 2s ease-in-out infinite alternate;
    margin-top: 25vh
}
.left2 p{
    font-family: "Electrolize", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    width: 600px;
    justify-content: center;
    text-align: center;
}






/*The body styling*/
body{
    color: white;
    background-color: black;
}
/*Navbar style*/
nav
{
    top: 0;
    position: sticky;
    display: flex;
    justify-content:space-between;
    left: 0;
    width: 100%;
    align-items: center;
    z-index: 100;;
}
.name{
    margin-left: 10px;
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
    animation: glow 5s ease-in-out infinite alternate;
}
.menu ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
li{
    margin: 15px;
    border: 1px #4E514E solid;
    padding: 8px;
    border-radius: 30px;
    justify-content: center;
    text-decoration: none;
    box-shadow: 0 0 500px #D8CEC5, 0 0 10px #D8CEC5, 0 0 1px #D8CEC5, 0 0 10px #D8CEC5;
    background-color: #4E514E;
    transition: all 0.3s ease-in-out;
}
li:hover{
    box-shadow: 0 0 500px #D8CEC5, 0 0 10px #D8CEC5, 0 0 1px #D8CEC5, 0 0 50px #D8CEC5;
}
.menu a{
    text-decoration: none;
    font-family: "Acme", sans-serif;
    font-weight: 400;
    font-style: normal;
    color:white;
}




/*Certificate class css*/
.certificate{
    /* height: 100vh; */
    width: 100%;
}
.certificate h1{
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    width: 100%;
    text-align:center;
    animation: glow 2s ease-in-out infinite alternate;
}
.certificate p{
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    width: 100%;
    text-align: center;
}
/*Actual certificate boxes css*/
.flxbox{
    font-family: "Acme", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #595E60;
    padding:30px;
    border-radius:40px;
    background-color: #595E60;
    opacity: 60%;
    transition: all 0.3s ease-in-out;
    animation: fade-up both;
    animation-timeline: view(10% 0%);
}
.flxbox:hover{
    opacity:100%;
}
.flxbox:hover{
    box-shadow: 0 0 10px #D8CEC5, 0 0 20px #D8CEC5, 0 0 30px #D8CEC5, 0 0 40px #D8CEC5;
    transition: 0.5s ease-in-out;
}

.certificate img{
    width: 280px;
    height: auto;
    border-radius: 15px;
}
.certibox1{
    margin-top: 20px;
    display: flex;;
    justify-content: space-evenly;
}
.certibox2{
    display: flex;
    justify-content:space-evenly;
    margin-top: 50px;
}





/*Project class css*/
.pro{
    border: 2px solid black;
    /* height: 100vh; */
    width: 100%;
    margin-top: 30vh;
    cursor: default;
}
.pro h1{
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 100%;
    font-size: 60px;
    text-align: center;
    animation: glow 2s ease-in-out infinite alternate;
}
.pro p{
    font-family: "Electrolize", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    width: 100%;
    text-align: center;
}
.firstrow{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}
.secondrow{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}
.thirdrow{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}
.pro img{
    height: 200px;
    width: auto;
    border-radius: 15px;
    border: 2px solid white;
    transition: all 0.5s ease-in-out;
}
.pro img:hover{
    box-shadow: 0 0 10px black, 0 0 20px black, 0 0 30px black, 0 0 40px black;
}
.prjbox{
    border: 2px solid white;
    width: 45vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    border-radius: 30px;
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #4E514E;
    transition: all 0.5s ease-in-out;
}
.languages{
    display: flex;
    justify-content: space-evenly;
    width: 100%
}
.languages h4{
    border: 2px solid white;
    padding: 7px;
    border-radius: 20px;
    background-color: #86ABC5;
    color: black;
    transition: all 0.3s ease-in-out;
    cursor: default;
}
.languages h4:hover{
    background-color: black;
    color: #86ABC5;
}
.prjbox a{
    text-decoration: none;
    border: 2px solid white;
    width: 200px;
    height: 20px;
    text-align: center;
    padding: 5px;
    border-radius: 30px;
    background-color: black;
    color:#76B947;
    transition: all 0.3s ease-in-out;
}
.prjbox a:hover{
    background-color: #76B947;
    color: black;
    box-shadow: 0 0 100px #76B947, 0 0 10px #76B947, 0 0 1px #76B947, 0 0 10px #76B947;
}
.prjbox:hover{
    box-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white, 0 0 40px white;;
}







/*Contacts section*/
.contacts img{
    width: 30px;
    height: auto;
}
.contacts{
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.linkedin{
    display: flex;
    align-items: center;
}
.insta{
    display: flex;
    align-items: center;
}
.youtube{
    display: flex;
    align-items: center;
}
.youtube img{
    width: 45px;
    height: auto;
}
.contacts a{
    text-decoration: none;
    color: white;
}



/*Animations*/

/*Text glow animation*/
@keyframes glow{
    from{
        text-shadow: 0 0 10px #86ABC5, 0 0 20px #86ABC5, 0 0 30px #86ABC5, 0 0 40px #86ABC5, 0 0 50px #86ABC5, 0 0 60px #86ABC5, 0 0 70px #86ABC5;
    }
    to{
        text-shadow: 0 0 20px #86ABC5, 0 0 30px #86ABC5, 0 0 40px #86ABC5, 0 0 50px #86ABC5, 0 0 60px #86ABC5, 0 0 70px #86ABC5, 0 0 80px #86ABC5;
    }
}

/*Auto blur animation*/
@keyframes autoblur{
    0%{
        filter: blur(20px);
    }
    50%{
        filter: blur(0px);
    }
}


/*Fade up animation*/
@keyframes fade-up{
    from{
        opacity: 0;
        transform: translateY(10px) scale(0.5);
    }
    to{
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}