.about-me
{
    display: flex;;
}


.right
{
    border: 2px solid black;
    height: 100vh;
    width: 50%;
}
.left
{
    border: 2px solid black;
    height: 100vh;
    width: 50%;
}
.skills
{
    display: flex;;
}
.right2
{
    border: 2px solid black;
    height: 100vh;
    width: 50%;
}
.left2
{
    border: 2px solid black;
    height: 100vh;
    width: 50%;
}