/*Font families that will be used*/
.acme-regular {
  font-family: "Acme", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.audiowide-regular {
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.electrolize-regular {
  font-family: "Electrolize", sans-serif;
  font-weight: 400;
  font-style: normal;
}






/*About me section styling*/
.about-me
{
    display: flex;;
}
/*Right side of anout me section*/
.right
{
    border: 2px solid black;
    height: 80vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items:center
}
.right img{
    width: 300px;
    height: auto;
    margin-top: 15vh;
    border-radius: 50%;
    box-shadow: 0 0 10px #86ABC5, 0 0 20px #86ABC5, 0 0 30px #86ABC5, 0 0 40px #86ABC5;
    transition: all 0.3s ease-in-out;
}
.right h1{
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
    animation: glow 5s ease-in-out infinite alternate;
}
.right img:hover{
    box-shadow: 0 0 30px #86ABC5, 0 0 40px #86ABC5, 0 0 50px #86ABC5, 0 0 60px #86ABC5;
}
/*About me left side styling*/
.left
{
    border: 2px solid black;
    height: 80vh;
    width: 50%;
    display:list-item;
    text-align:center;
    align-items: center;
}
.left h1{ 
    margin-top: 18vh;
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    animation: glow 1s ease-in-out infinite alternate;
}
.left p{
    font-family: "Electrolize", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    width: 600px;
    align-self: center;
    margin-left: 73px;
}





/*styling the skills sections of the code*/ 
.skills
{
    display: flex;
}
.right2
{
    border: 2px solid white;
    height: 80vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.firstcol{
    display: flex;
    justify-content:space-evenly;
}
.secondcol{
    display: flex;
    justify-content: space-evenly;
}
.thirdcol{
    display: flex;
    justify-content: space-evenly;
}

.stylebox{
    border: 2px solid white;
    width: 250px;
    text-align: center;
    padding: 15px;
    border-radius: 50px;
    background-color: #86ABC5;
    color: black;
    opacity: 60%;
    transition: all 0.3s ease-in-out;
}

.left2      /*left side of skills section*/
{
    border: 2px solid white;
    height: 80vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.left2 h1{
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    animation: glow 2s ease-in-out infinite alternate;
    margin-top: 25vh
}
.left2 p{
    font-family: "Electrolize", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    width: 600px;
    justify-content: center;
    text-align: center;
}






/*The body styling*/
body{
    color: white;
    background-color: black;
}
/*Navbar style*/
nav
{
    top: 0;
    position: sticky;
    display: flex;
justify-content:space-between;
    left: 0;
    width: 100%;
    align-items: center;
}
.name{
    margin-left: 10px;
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
    animation: glow 5s ease-in-out infinite alternate;
}
.menu ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
li{
    margin: 15px;
    border: 1px #4E514E solid;
    padding: 8px;
    border-radius: 30px;
    justify-content: center;
    text-decoration: none;
    box-shadow: 0 0 500px #D8CEC5, 0 0 10px #D8CEC5, 0 0 1px #D8CEC5, 0 0 10px #D8CEC5;
    background-color: #4E514E;
    transition: all 0.3s ease-in-out;
}
li:hover{
    box-shadow: 0 0 500px #D8CEC5, 0 0 10px #D8CEC5, 0 0 1px #D8CEC5, 0 0 50px #D8CEC5;
}
.menu a{
    text-decoration: none;
    font-family: "Acme", sans-serif;
    font-weight: 400;
    font-style: normal;
    color:white;
}


/*The glowing text animation*/
@keyframes glow{
    from{
        text-shadow: 0 0 10px #86ABC5, 0 0 20px #86ABC5, 0 0 30px #86ABC5, 0 0 40px #86ABC5, 0 0 50px #86ABC5, 0 0 60px #86ABC5, 0 0 70px #86ABC5;
    }
    to{
        text-shadow: 0 0 20px #86ABC5, 0 0 30px #86ABC5, 0 0 40px #86ABC5, 0 0 50px #86ABC5, 0 0 60px #86ABC5, 0 0 70px #86ABC5, 0 0 80px #86ABC5;
    }
}
